/* for all */
TextField{
    -fx-background-color: none;
}

Button{
    -fx-background-color: none;
    /*-fx-text-fill: white;*/
}

Button:hover{
    -fx-cursor: hand;
}

DatePicker{
    -fx-background-color: none;
    -fx-opacity: 1;
}

DatePicker {
    -fx-text-fill: green;
}

DatePicker .arrow-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

DatePicker .arrow {
    -fx-padding: 0;
    -fx-shape: none;
}

