/* accueil.css */

@font-face {
    font-family: "Lilita One";
    src: url("../fonts/Lilita_One/LilitaOne-Regular.ttf");
}

@font-face {
    font-family: "McLaren";
    src: url("../fonts/McLaren/McLaren-Regular.ttf");
}

.root{
    -fx-font-family: "McLaren";
    -fx-text-fill: #303841;
}

Label{
    -fx-font-family: "McLaren";
    -fx-text-fill: #303841;
}

TextField{
    -fx-background-color: none;
}
TextArea{
    -fx-background-color: none;
}

#title{
    -fx-font-family: "Lilita One";
    -fx-text-fill: #303841;
}

#title:focused{
    -fx-font-size: 96px;
}

Button{
    -fx-background-color: none;
}

Button:hover{
    -fx-cursor: hand;
}

Button:disabled{
    -fx-opacity: 1;
}

DatePicker{
    -fx-background-color: none;
    -fx-opacity: 1;
    -fx-text-fill: #303841;
}

DatePicker:disabled .text-field {
    /*-fx-background-color: none;*/
    -fx-text-fill: #303841;
    -fx-background-color: none;
    -fx-opacity: 1;
}
/* style dans le mode non edition */
DatePicker .arrow-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

DatePicker .arrow {
    -fx-padding: 0;
    -fx-shape: none;
}

ImageView{
    -fx-background-color: none;
    -fx-border-radius: 50;
}

TextArea .content{
    -fx-background-color: none;
}

ScrollPane{
    -fx-background-color: none;
}

/* Scroller */
.scroll-bar{
    -fx-background-color: none;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #303841;
    -fx-background-radius: 10;
}

.scroll-bar:vertical .increment-button {
    -fx-background-color: #303841;
    -fx-background-radius: 5;
}

.scroll-bar:vertical .decrement-button {
    -fx-background-color: #303841;
    -fx-background-radius: 5;
}